## Assignment: 01

In [1]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [2]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

#### 1. What is the length of the salaries list.

In [4]:
len(salaries)

7

#### 2. Retrieve the third salary in the list by using index.

In [5]:
salaries[2]

'50k'

#### 3. Extract the last salary from the list by using a negative index.

In [6]:
salaries [-1]

'40k'

#### 4. Slice the salaries list to get only the middle three salaries.

In [7]:
salaries [2:5]

['50k', '60k', '35k']

#### 5. Add a new salary to the list, ‘100k’ by using append() method.

In [8]:
salaries.append('100k')

In [9]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

#### 5. Add a new salary to the list, ‘120k’ without method.

In [11]:
salaries = salaries + ['120k']

In [12]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

#### 6. Replace the third salary in the list with '55k' and print the updated list.

In [13]:
salaries[2] = '55k'

In [14]:
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

#### 7. Count how many times '40k' appears in the list.

In [15]:
salaries.count ('40k')

2

#### 8. Insert a new salary at the second position.

In [16]:
salaries.insert (1, '32k')

In [17]:
salaries

['20k', '32k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

#### 9. Reverse the order of the salaries list with method.

In [19]:
salaries.reverse()

In [20]:
salaries

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '32k', '20k']

#### 10. Reverse the order of the salaries list without method.

In [22]:
salaries

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '32k', '20k']

In [23]:
salaries [::-1]

['20k', '32k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']